<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sichtweiten Ermittler
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="margin-top-20" [fullscreen]="true">

  <div id="calcContainer" class="calcContainer">
    <div class="dropdown">
      <button id="lineDropDownBtn" (click)="openDropDownLine()" class="dropbtn">Linie Auswählen</button>
      <div id="lineChoose" class="dropdown-content itemContainer">
        <p class="dropDownItem" (click)="chooseLine(U1)">U1</p>
        <p class="dropDownItem" (click)="chooseLine(U2)">U2</p>
        <p class="dropDownItem" (click)="chooseLine(U3)">U3</p>
        <p class="dropDownItem" (click)="chooseLine(U4)">U4</p>
        <p class="dropDownItem" (click)="chooseLine(U5)">U5</p>
        <p class="dropDownItem" (click)="chooseLine(U6)">U6</p>
        <p class="dropDownItem" (click)="chooseLine(U7)">U7</p>
        <p class="dropDownItem" (click)="chooseLine(U8)">U8</p>
        <p class="dropDownItem" (click)="chooseLine(U9)">U9</p>
      </div>
    </div>
    <div class="dropdown">
      <button id="stationDropdownBtn" (click)="openDropDownStation()" class="dropbtn">Stationen</button>
      <div id="station" class="dropdown-content itemContainer">
      </div>
    </div>
    <div class="dropdown">
      <button id="trackBTN" (click)="openDropDownTrack()" class="dropbtn">Gleis wählen</button>
      <div id="track" class="dropdown-content itemContainer">
        <p class="dropDownItem" (click)="chooseTrack(GL1)">Gleis 1</p>
        <p class="dropDownItem" (click)="chooseTrack(GL2)">Gleis 2</p>
      </div>
    </div>
    <div class="dropdown">
      <button id="groupChoosen" (click)="openDropDownGroup()" class="dropbtn">Gruppe wählen</button>
      <div id="group" class="dropdown-content itemContainer">
        <p class="dropDownItem" (click)="chooseGroup(KG)">Kleingruppe</p>
        <p class="dropDownItem" (click)="chooseGroup(AG)">Arbeitsgruppe</p>
      </div>
    </div>
    <div class="dropdown">
      <button id="chooseTime" (click)="openDropDownTime()" class="dropbtn">Räumzeit wählen</button>
      <div id="timeChoose" class="dropdown-content itemContainer">
        <p (click)="timeChoosed(7)">7s</p>
        <p (click)="timeChoosed(10)">10s</p>
        <p (click)="timeChoosed(15)">15s</p>
        <p (click)="timeChoosed(20)">20s</p>
      </div>
    </div>
    <p id="calcButton" (click)="calcView()">Berechnen</p>
  </div>
  <h4 id="viewPoint"></h4>
  <div id="speedContainer" class="speedContainer">
    <div id="setSpeed">
      <input type="range" id="speedRange" name="temp" list="values" />
      <datalist id="values">
        <option value="100" label="70"></option>
        <option value="84" label="60"></option>
        <option value="68" label="50"></option>
        <option value="52" label="40"></option>
        <option value="36" label="25"></option>
        <option value="16" label="15"></option>
        <option value="0" label="0"></option>
      </datalist>
    </div>
  </div>
  <div id="resetBTNContainer">
  </div>
</ion-content>
